.mainImg{ position:relative; min-width:100%; min-height:614px; background: url(../assets/dummy-french_open.png); margin:auto;}
.mainContainer{ position: absolute; top: 50%; left: 50%; margin-top: -266px; margin-left: -451px;width: 902px; height: 532px; background: rgba(0,0,0,0.5); }
.champInner{width:652px; height:; margin:auto; margin-top:50px; margin-bottom: 50px;}
.champ01{text-align: center;}
.champ02{text-align: center;}
.champ03{text-align: center;}
.champMain{display: none;}
.champMain.on{display: block;}
.champTitle{color:#deab04; font:24px/29px 'Comfortaa', sans-serif;}
.chanpSubTitle{color:#deab04; font:20px/24px 'Comfortaa', sans-serif; margin-top: 37px; margin-bottom: 57px;}
.champName{font:20px/24px 'Comfortaa', sans-serif; margin-bottom: 20px;}
.champName>a{color:#ffffff;}
.col {
-moz-column-count: 3;
-webkit-column-count: 3;
column-count: 3;
margin-bottom:16px;
}
.ctrlPage{width:100px; height:12px; margin:auto;}
.ctrlPage>li{float:left; cursor: pointer; border:1px solid #deab04; width:12px; height:12px; box-sizing: border-box;}
.ctrlPage>li.secondPage{margin:0 28px;}
.ctrlPage>li.on{border:1px solid #deab04; background-color: #deab04; }
.champContainer{ width:1200px; margin:auto;}

.champList{
  width: 1200px; margin:auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  position:relative;
  overflow: hidden;
}
.champList>.thumb{cursor: pointer; transition: all 0.2s ease;}
.champList>.thumb img{width:100%; height:100%;}
.champList>.thumb .thumbImg{position:relative; width:200px; height:200px; margin-bottom:0; }
.champList>.thumb .thumbImg.on{margin-bottom:200px;}
.champList>.thumb .thumbTxt{display: none; z-index: 1000; position:absolute; background: #ffffff; width: 1200px; height:200px; margin-top: -200px;}
.champList>.thumb .thumbTxt.on{display: block; left:0;}

.imgBg{display: block; z-index: 1000; position:absolute; top:0; left:0; width:100%; height: 100%; background: rgba(0,0,0,0.7);}
.imgBg.on{display: none;}
.barInner{width:800px; margin:auto; height: 102px; padding-top: 49px;}
.barPage{
  float:left;
  width:200px;
  margin: 15px 0;
  font:18px/21px 'Comfortaa', sans-serif;
  margin-right:62px;
}
.barPage.last{width: 460px;}
.barPage>.barTitle{position:relative; float:left; padding-right:10px;}
.barPage>.barTitle:after{content: "";
    position:absolute;
    width: 5px;
    height: 15px;
    right: -2.5px;
    top: 50%;
    margin-top: -7.5px;
    background:url(../assets/icon-bar.svg);
  }
.barPage>.barTxt{float:left; padding-left:10px;}
