/*main*/
body{position:relative;}
.main{margin-top:100px; padding-bottom: 114px;}
.tennisMan{width: 597px; height:527px; margin:auto; position: relative; background:url(../assets/bg-profile.png) no-repeat;}
.profileTxt{position:absolute; right: 96px; top: 217px;}
.manTitle{text-align: center; font:bold 18px/21px 'Comfortaa', sans-serif;}
.manTitle>span{display: block; margin-bottom:15px; font-style: italic;}
.profile{text-align: center;}
.profile>dt{color:#9EB4D5; font: 10px/12px 'Comfortaa', sans-serif;}
.profile>dd{color:#4975EE; font: 14px/16px 'Comfortaa', sans-serif;}
.pro01{margin-top:63px;}
.pro01:after{content: "";
    position: absolute;
    left: -122%;
    top: -24%;
    background: url(../assets/icon-line-0.svg) no-repeat;
    width: 143px;
    height: 242px;
}
.pro02{margin-top:14px;}
.pro02:after{content: "";
    position: absolute;
    left: -144%;
    top: 36%;
    background: url(../assets/icon-line-1.svg) no-repeat;
    width: 168px;
    height: 104px;
}
.pro03{margin-top:53px;}
.pro03:after{content: "";
    position: absolute;
    left: -141%;
    top: 95%;
    background: url(../assets/icon-line-2.svg) no-repeat;
    width: 200px;
    height: 3px;
}
.btnPlay{ position: absolute; right: 0; bottom: 9px; width:40px; height:40px; background: #FF4A4A; box-shadow:0 2px 4px 0 rgba(0,0,0,0.5); border-radius: 50%; cursor: pointer;}
.video{display: none;}
.video.on{display: block;}
.btnX{position:absolute; z-index:1001; top:26px; right:26px; width:30px; height:30px; cursor: pointer;}
#videoContent{position:absolute; z-index: 1000; left:50%; top:50%; margin-left:-505px; margin-top: -311px;}
.videoBg{position:absolute; top:0; left:0; width:100%; height:100%; z-index: 999; background: rgba(0,0,0,0.7);}
