/*header*/
.tablet{ display: none; }
.header {
  background: url(../../assets/icon-net.svg);
}
.logoIcon.off{display: none;}
.tennisBall.off{display: none;}
.tennisBall{width:40px; height:40px;}
.tennisBall>a{display: block; width: 100%; height:100%;}
.logo {
  width: 40px;
  height: 40px;
  margin: auto;
}
.logo img {width: 100%; height: 100%;}
.headerInner {
  position:  relative;
  margin: auto;
  width:  100%;
  height: 40px;
  overflow-y: auto;
}
.navLogo{padding:0; float:left; margin:0 40px;}
.subNav{width: 520px; margin: auto;position: absolute;left: 50%; margin-left: -250px;height: 40px;}
.subNavList.on{border-bottom: 3px solid #DEAB04; margin-bottom: 7px;}
.subNavList{float:left;margin: 10px 8px;font: 14px/18px 'Comfortaa', sans-serif;}
.subNavList>a{display: block; width:100%; height:100%; color:#DEAB04;}
.navLogo{padding:0;float:left;margin: 0 5%;}

.headerNav {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 40px;
  background-color: rgba(119,42,42,1);
  margin: auto;
  border-bottom: 1px solid #BA2A2A;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.headerNav::-webkit-scrollbar {
display:none;
}
.nav {
  position: relative;
  width: 780px;
  margin: auto;
  height: 40px;
}
.navList {
  text-align: center;
  float: left;
  width: 126px;
  font: 14px/40px 'Comfortaa', sans-serif;
}
.navList>a { display: block; width:100%; height:100%; color: #FFFFFF; }
